name: CI
on:
  pull_request:
    paths:
      - '**.go'
    branches:
      - main
  push:
    paths:
      - '**.go'
    branches:
      - main
    tags-ignore:
      - '**'

jobs:
  test:
    name: Run the tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        go-version: '1.15.6'
    - name: Check formatting
      run: test -z $(gofmt -l **.go)
    - name: Run GDQBot tests
      run: |
        go test -v -coverprofile=coverage.txt -covermode=atomic
